/* History Tab On Dashboard */


.historyTab {
    position: absolute;
    right:32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
    padding: 8px;
    width: 300px;
}

.historyOpen {
    /* width: 50px; */
    padding: 5px 15px;
    border-radius: 10px;
    border: 0;
    background-color: #4D065B;
    letter-spacing: 1.5px;
    font-size: 20px;
    transition: all 0.3s ease;
    box-shadow: #A306BE 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    outline: none;
}

.historyOpen:hover {
    box-shadow: #A306BE 0px 7px 0px 0px;
}

.historyOpen:active {
    background-color: #4D065B;
    /*50, 168, 80*/
    box-shadow: #A306BE 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.historyResults {
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
    border-color: #AA60C8;
    border-radius: 8px;

    border: 2px solid;
    border-color: #4D065B;
    border-radius: 16px;
    backdrop-filter: blur(64px);
    padding: 8px;
    /* padding: 8px; */
}

.historyCol{
    height: 190px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.historyCol::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
    gap: 8px;
}

.eachHistory{
    /* width: 200px; */
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: 2px solid #4D065B;
    /* background-color: #4D065B; */
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #4D065B;
    box-shadow: #A306BE 0px 2px 0px 0px;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.eachHistory:hover {
    box-shadow: #A306BE 0px 3px 0px 0px;
}

.eachHistory:active {
    background-color: #4D065B;
    box-shadow: #A306BE 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}



@media (max-width: 1024px) {
    .historyTab {
       display: none;
    }
}