.barChartCard{
    padding: 12px;
    border-radius: 1rem; /* Rounded corners */
    position: relative;
    border: 1px solid #777;
    transition: all 0.3s ease;
    box-shadow: #777 0px 5px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.barChartCard:hover {
    box-shadow: #777 0px 7px 0px 0px;
}

/* .historyOpen:active {
    background-color: #4D065B; */
    /*50, 168, 80*/
    /* box-shadow: #A306BE 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
} */